body{
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.body{
    padding: 60px 45px;
}

.hide-siliguri{
    font-family: 'Hind Siliguri', Helvetica, Arial, sans-serif;
}

.title{
    font-size: 4.5em;
    margin-top: 2;
}

.title2{
    font-size: 2.5em;
    margin-top: 2;
}

p{
    font-size: 1.5em;
}

.main-header{
    background-color: rgb(16, 40, 65);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
}

.nav-link{
    color: white;
    margin-right: -4px;
    text-decoration: none;
    width: 20%;
    display: inline-block;
}

.text-Center{
    text-align: center;
}

.red-text{
    color: rgb(175, 0, 0);
}

.blue-text{
    color: rgba(29, 71, 150, 0.932)
}

.main-container{
    min-height: 100vh;
}

.product img{
    width:  150px;
}

.product h3{
    font-size: 1.7em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card{
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.692), 0 1px 2px rgba(0, 0, 0, 0.603);
}

.threeD{
    text-shadow: 1px 13px 5px rgb(171, 168, 168);
}

.delay-1{
    animation-delay: 0.1s;
    z-index: 7;
}

.delay-2{
    animation-delay: 0.2s;
    z-index: 6;
}

.delay-3{
    animation-delay: 0.3s;
    z-index: 5;
}

.delay-4{
    animation-delay: 0.4s;
    z-index: 4;
}

.delay-5{
    animation-delay: 0.5s;
    z-index: 3
}

.delay-6{
    animation-delay: 0.6s;
    z-index: 2;
}

.delay-7{
    animation-delay: 0.7s;
    z-index: 1;
}

/*OTROS ESTILOS*/
footer{
    width: 100%;
    background: rgba(0, 0, 0, 0.842);
    color: white;
    margin: auto;
}

.container-footer-all{
    width:  100%;
    max-width: 1200px;
    margin: auto;
}

.container-body{
    display: flex;
    justify-content: space-around;
}

.colum1{
    max-width: 250px;
}

.colum1 h4{
    font-size: 22px;
}

.colum1 a{
    text-decoration: none;
    color: rgb(139, 139, 139);
}

.colum1 label{
    color: rgb(139, 139, 139);
}

.colum2{
    max-width:  250px;
}

.colum2 h4{
    font-size: 22px;
}

.row1{
    margin-top: 20px;
    display: flex;
}

.row1 img{
    width: 35px;
    height: 36px;
}

.row1 label{
    margin-top: 10px;
    margin-left: 20px;
    color: rgb(139, 139, 139);
}

.colum3{
    max-width: 1000px;
}

.colum3 h4{
    font-size: 22px;
}

h6{
    color: rgb(139, 139, 139);
}

.container-footer{
    width: 100%;
    background:  #000000;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.copyright{
    color: white;
}

@media screen and (max-width: 1100px){
    .container-body{
        flex-wrap: wrap;
    }
    .body{
        flex-wrap:  wrap;
    }
    .container-footer{
        flex-wrap:  wrap;
    }
}